# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Environnements virtuels
.venv/
venv/
ENV/

# Fichiers temporaires
*.tmp
*.log
*.bak
*.swp
*~


# Systèmes
.DS_Store
Thumbs.db

# Autres
requirements.txt.lock
